<div id="trick-name">
  <p>
    <h2><strong>Trick Name: </strong><%= @trick.name %></h2>
  </p>
</div>

<div id="trick-description">
  <p>
    <h3><strong>Description: </strong><%= @trick.description %></h3>
  </p>
</div>

<div class="embed-container">
  <%= embed(@trick.youtube_url) %>
</div>

<%= button_to "Home", root_path, method: :get %>
