<div class="trick-name">
  <p>
    <h2><strong>Trick Name: </strong><%= @trick.name %></h2>
  </p>
</div>

<div class="trick-description">
  <p>
    <h3><strong>Description: </strong><%= @trick.description %></h3>
  </p>
</div>

<div class="trick-purpose">
  <p>
    <h3><strong>Type: </strong><%= @trick.purpose %></h3>
  </p>
</div>

<div class="video">
  <iframe src="<%= @trick.youtube_url %>" frameborder="0" allowfullscreen></iframe>
</div>
