<div class="about">
  <p> The Magic DB is an open source project created by <a href="apatterson.me">Adam Patterson</a> using Ruby on Rails, Javascript, jQuery, and Bootstrap. It is designed to be a community driven catalogue of magic tricks, where current and aspiring performers can come to for inspiration and curate their own routines. You can find the source code on <a href="http://github.com/atom1262">Github</a>.
  </p>
</div>
