<div class="jumbotron">
  <div class="container">
    <div class="title">
      <h1>Welcome to MagicDB</h1>
    </div>

    <div class="description">
      <p>The most comprehensive magic trick database in the world. For magicians, by magicians.</p>
    </div>
  </div>
</div>
