<div class="nav">
  <div class="container">
    <ul class="navbar-left nav nav-pills">
      <li class="active"><%= link_to "Home", root_path %></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Tricks</a></li>
      <li><a href="#">Posts</a></li>
    </ul>

    <ul class="navbar-right">
      <%= render 'partials/signin' %>
    </ul>
  </div>
</div>
