<div class="nav">
  <div class="container">
    <ul class="pull-left nav nav-pills">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
    </ul>

    <ul class="pull-right nav nav-pills">
      <li><a href="#">Contact</a></li>
      <li><a href="#">Careers</a></li>
    </ul>
  </div>
</div>
