<form class="search-bar" role="search">
  <div class="search-group">
    <div class="col-lg-8">
      <input type="text" class="form-control" placeholder="Find your next trick">
    </div>
  </div>
  <button type="submit" class="btn btn-search">Search</button>
</form>
