<h1>Make New Post</h1>

<div class="new-post-form">
  <%= form_for @post do |form| %>

    <p>
      <%= form.text_field :title, placeholder: 'Post Headline' %>
    </p>

    <p>
      <%= form.text_area :body, placeholder: 'Post Body' %>
    </p>

    <p>
      <%= form.submit "Submit Post" %>
    </p>

  <% end %>
</div>
